img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

* {
  margin: 4px;
  padding: 2px;
  padding: 2px;
  gap: 10px;
}

body {
  background-color: rgb(0, 0, 0);
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    color: white;
    font-family: "Permanent Marker", sans-serif;
  }
  h2 {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
    font-family: "Assistant", sans-serif;
    color: #ffffff;
  }

  p {
    font-size: 0.8rem;
    font-family: "Assistant", sans-serif;
    color: #ffffff;
  }

  ul {
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    list-style: none;
    justify-content: center;
  }
  a {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
    margin: 8px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(39, 39, 39);
    background-blend-mode: soft-light;
  }

  #first_section {
    margin: 20px;
    padding: 5px;
    gap: 20px;
  }

  #first_section .wrapper {
    background-image: url(fodbold_billeder/bred3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
  }
}
/*desktop */
@media (min-width: 600px) {
  header {
    position: sticky;
    top: 0;
  }
  #dfirst_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 3fr;
    gap: 20px;
  }

  #first_section {
    margin: 20px;
    padding: 5px;
    gap: 20px;
  }

  #first_section .wrapper {
    background-image: url(fodbold_billeder/bred3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
  }

  a {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
    margin: 20px;
    font-size: 1.5rem;
    text-decoration: none;
  }

  h1 {
    font-size: 3rem;
    font-family: "Permanent Marker", sans-serif;
    color: white;
  }
  h2 {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
    font-family: "Assistant", sans-serif;
    color: #ffffff;
  }
  p {
    font-size: 1.1rem;
    font-family: "Assistant", sans-serif;
    color: #ffffff;
  }
  ul {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
  }
  a:hover {
    color: rgb(39, 39, 39);
    background-blend-mode: soft-light;
  }
}
article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.gallery img {
  height: 100%;
  object-fit: cover;
}
.box1 {
  padding-top: 60%;
  padding-right: 60%;
}
