img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

* {
  margin: 4px;
  padding: 2px;
}

body {
  background-color: rgb(0, 0, 0);
}
h1 {
  color: white;
  font-family: "Permanent Marker", sans-serif;
}
h2 {
  font-family: "Fjalla One", sans-serif;
  color: #ffffff;
  font-size: 1rem;
}

p {
  font-family: 'Assistant', sans-serif;
  color: #ffffff;
}

ul {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
  list-style: none;
  justify-content: center;
}
a {
  font-family: "Fjalla One", sans-serif;
  color: #ffffff;
  margin: 8px;
  text-decoration: none;
}
a:hover {
  color: rgb(39, 39, 39);
  background-blend-mode: soft-light;
}
/*desktop */
@media (min-width: 600px) {
  #dfirst_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

    #first_section {
    width: 100%;
    background-image: url(fodbold_billeder/bred3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    padding: 15px;
  }

  a {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
    margin: 20px;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-family: "Permanent Marker", sans-serif;
  }
  h2 {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
    font-size: 1.6rem;
  }
  p {
    font-size: 1.1rem;
    font-family: 'Assistant', sans-serif;
  }
  ul {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
  }
  a:hover {
    color: rgb(39, 39, 39);
    background-blend-mode: soft-light;
  }
}
